[run]
show_missing = true
omit =
    */migrations/*
    *admin.py*
    *settings.py*
    *manage.py*
    *tests/*
    *tests.py
    *wsgi.py*
    *apps.py*
    *conftest.py
    *__init__.py*
    *asgi.py
